@import "antd/dist/antd.css";

/* header 樣式修正 (選擇器等級過高無法直接以 styled component 蓋過) */
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  margin: 0;
  margin-left: 20px;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin: 0;
}

/* header 按鈕底線 hover 
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  border-bottom: 2px solid#99d066;
}
header 按鈕文字顏色 hover 
.ant-menu-horizontal > .ant-menu-item a:hover,
.ant-menu-submenu-title:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #99d066;
}
*/
.ant-table-placeholder {
  display: none;
}

/* upload 圖片樣式修正，將課程縮圖加大 */

.upload-course .ant-upload.ant-upload-select-picture-card {
  height: 200px;
  width: 200px;
}

/* 全局訊息提示加大 */
.ant-message {
  font-size: 24px;
}

/* 配合 4:3 修正圖片預覽框比例 */

.upload-course .ant-upload.ant-upload-select-picture-card {
  height: 100%;
  min-height: 150px;
}
